@media (max-width: 576px) {
  .burger__menu-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    li {
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
  }
}
