.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #000;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .footer__row-logo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 20px;
      p {
        font-size: 30px;
      }
    }
    p:nth-child(2) {
      font-size: 35px;
      padding-bottom: 20px;
    }
    p:nth-child(3) {
      padding-top: 20px;
      width: 250px;
      border-top: 15px double rgba(29, 29, 29, 1);
      font-size: 30px;
    }
}